<!DOCTYPE html>
<html lang="en-US">
<head>
<title>webRunes</title>
</head>

<body>
<a href="/auth/facebook">
    <img src="https://oauth.io/api/providers/facebook/logo" title="" />
    <label>Facebook</label>
</a>
<div>
    Connected as <%- username %>
</div>
</body>
</html>
