<html>
<body style="margin: 0 !important; padding: 0 !important;">
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<%if ( user ) { %>
<div><a href="#" onclick="logout();">Logout</a></div>
<% } else { %>
<img src="http://www.foodini.co/assets/sign-in-with-twitter-icon-4ab300ee57991db4bd4b4517c5b8e9ed.jpg" onclick="openAuthPopup()">
<% } %>



<script type="text/javascript">

    function logout() {
        $.ajax({
            url:'/logout',
            xhrFields: {
                withCredentials: true
            }
        }).success (function() {
            parent.postMessage(JSON.stringify({"login":"success"}), "*");
        });
    }

    function openAuthPopup() {
        window.open('/auth/twitter?callback='+encodeURIComponent('/buttons/callback'), "Login", "height=500,width=700");
    }

    function setWRIOAuthData() {
        console.log("Login succeeded");
        parent.postMessage(JSON.stringify({"login":"success"}), "*");
        // send parent reload message
    }

    <%if ( user ) { %>
        parent.postMessage(JSON.stringify({"loggedIn":"<%= user.lastName %>"}), "*");
    <% } %>

    $.ajax({
        url: "http://storage.wrioos.com/api/get_profile",
        type: 'post',
        'dataType':'json',
        data: {},
        xhrFields: {
            withCredentials: true
        }
    }).success(function (jsmsg) {
        console.log("Get_profile finish",jsmsg);
        parent.postMessage(JSON.stringify({"profile":jsmsg}), "*");
    });

</script>
</body>
</html>