<html>
<body style="margin: 0 !important; padding: 0 !important;">
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<%if ( user ) { %>
<div><a href="#" onclick="logout();">Logout</a></div>
<% } else { %>
<div><a href="#" onclick="openAuthPopup()">Login</a></div>
<% } %>



<script type="text/javascript">

    function logout() {
        $.ajax({
            url:'/logout',
            xhrFields: {
                withCredentials: true
            }
        }).success (function() {
            parent.postMessage(JSON.stringify({"login":"success"}), "*");
        });
    }

    function openAuthPopup() {
        window.open('/auth/twitter?callback='+encodeURIComponent('/buttons/callback'), "Login", "height=500,width=700");
    }

    function setWRIOAuthData() {
        console.log("Login succeeded");
        parent.postMessage(JSON.stringify({"login":"success"}), "*");
        // send parent reload message
    }


    $.ajax({
        url: "/api/get_profile",
        type: 'get',
        'dataType':'json',
        data: {},
        xhrFields: {
            withCredentials: true
        }
    }).success(function (jsmsg) {
        console.log("Got profile by iframe", jsmsg);
        parent.postMessage(JSON.stringify({"profile":jsmsg}), "*");
    });

</script>
</body>
</html>